{% extends 'parent.html.twig' %}

{% block content %}
   <div class="col-12 text-center">
    <br>
        <h3>Gestion des oeuvres</h3>
        <br>
    </div>
    {% for notice in app.flashes('notice') %}
            <p class="alert alert-success">
                {{ notice }}
            </p>
    {% endfor %}
   
        {{ form_start(form, { attr : { novalidate: 'novalidate'}}) }}
        <p>{{ form_label(form.name, 'Nom') }}
        {{ form_widget(form.name, { attr : { placeholder: 'Saisissez un nom'}}) }}</p>
        <p>
            {{ form_label(form.categories, 'Catégories:') }}
            {{ form_widget(form.categories) }}
        </p>
        <p>{{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, { attr : { placeholder: 'Saisissez une description'}}) }}</p>
        <p>{{ form_label(form.image, 'Image') }}
        {{ form_widget(form.image) }}</p>
        <input type="submit" value="Valider" class="btn btn-primary">
        {{ form_end(form) }}
{% endblock %}