<nav class="navbar navbar-expand-lg navbar-light duck-blue">
  <a class="navbar-brand" href="{{ url('home.index') }}">T.S.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oeuvres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url('categories.index') }}">Tout</a>
            <a class="dropdown-item" href="{{ url('categories.category', { 'id': 1 }) }}">Peinture</a>
            <a class="dropdown-item" href="{{ url('categories.category', { 'id': 2 }) }}">Sculpture</a>
            <a class="dropdown-item" href="{{ url('categories.category', { 'id': 3 }) }}">Dessin</a>
        </div>
      </li>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url('exposition.index') }}">Exposition</a>
      <a class="nav-item nav-link" href="{{ url('contact.index') }}">Contact</a>
    </div>
  </div>
</nav>